@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

html {
  font-family: "Kumbh Sans", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  min-height: 112px;
  margin-bottom: 90px;
}

.container {
  max-width: 1110px;
  width: 100%;
  min-height: 112px;
  border-bottom: 1px solid #e4e9f2;
  margin: auto;
}

.navbar {
  max-width: 591px;
  width: 100%;
  min-height: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

li > a {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  color: #69707d;
}

.head-box,
.user-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.head-box {
  min-height: 112px;
}

.user-box {
  max-width: 118px;
  width: 100%;
  min-height: 50px;
}

.profile-icon {
  width: 50px;
  height: 50px;
}

main {
  width: 100%;
  margin: auto;
}

.product-container {
  max-width: 1015px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

@media (max-width: 899px) {
  .product-container {
    flex-direction: column;
    row-gap: 70px;
  }
}

.product-photos {
  max-width: 445px;
  min-height: 565px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
}

.image-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 31px;
}

.description-box {
  max-width: 445px;
  width: 100%;
  min-height: 426px;
}

.company-name {
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ff7e1b;
}

.product-name {
  font-size: 44px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0;
  color: #1d2026;
  margin: 24px 0 32px 0;
}

.product-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  color: #69707d;
}

.price-box {
  width: 173px;
  height: 68px;
  margin: 28px 0 32px 0;
}

.price-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.price {
  font-size: 28px;
  font-weight: bold;
  line-height: 35px;
  letter-spacing: 0;
  color: #1d2026;
}

.discount {
  width: 51px;
  height: 27px;
  border-radius: 6px;
  background-color: #ffeee2;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0;
  color: #ff7e1b;
}

.old-price {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0;
  color: #b6bcc8;
}

.button-box {
  width: 100%;
  min-height: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.counter-btn {
  width: 157px;
  height: 56px;
  border-radius: 10px;
  padding: 16px;
  background-color: #f6f8fd;
  stroke: #979797;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.decrease,
.increase,
.mumber {
  font-size: 16px;
  font-weight: bolder;
  line-height: 20px;
  letter-spacing: 0;
  color: #ff7e1b;
}

.decrease,
.increase,
a {
  width: 30px;
  text-align: start;
  cursor: pointer;
}

.increase {
  text-align: end;
}

.number {
  color: #1d2026;
}

.cart-btn {
  width: 276px;
  height: 56px;
  border-radius: 10px;
  background-color: #ff7e1b;
  color: #fff;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 16px;

  cursor: pointer;
}

footer {
  padding: 50px;
}
